// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #f1f1f5;
}

ion-header{
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 23px;
  padding-top: 44px;
}

ion-header ion-title{
  text-align: center;
  font-size: 27px;
  font-weight:800;
  text-align: center;
  color:#202020
}

ion-header ion-icon{
  color:#202020;
  width: 20px;
  height: 20px;
}


// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.login-content {
  --background:#ffffff;
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);
  display: flex;

  .content-card{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: 20px;
  }

  .content-card .content-icon{
    width: 90px;
    height: 90px;

    border: solid 2px #ffffff;
    border-radius: 73px;
    background-color: #fd8c40;

    justify-content:center ;
    align-items: center;
    display: flex;
  }

  .content-card .content-icon ion-icon{
    color:#ffffff;
    width: 40px;
    height: 40px;
  }

  .content-card p{
    font-size: 17px;
    font-weight:500;
    text-align: center;
    color:#202020
  }


  .login-btn {
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  .login-btn1 {
    margin: calc(var(--page-margin) / 2) 0px;
    --background: #c4c4c4;
    --border-radius:27px;
    height: 55px;
  }


}

ion-footer{
  display: flex;
  justify-content: center;
  align-items: center;


  background-color:#ffffff;
  height: 70px;
}


ion-footer a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 8px;

  background-color:#fd8c40;
  height: 40px;
  color:#ffffff;
  font-weight: bold;
  font-size: 17px;
}

