<ion-header  class="ion-no-border">
    <ion-icon src="../../../assets/left-arrow.svg"></ion-icon>
    <ion-title>Cadastro</ion-title>
</ion-header>


<ion-content class="login-content">
  <!--(ngSubmit)="doLogin()"-->
  <div class="content-card">
    <div class="content-icon">
      <ion-icon src="../../../assets/mao-segurando-o-celular-para-tirar-uma-selfie.svg"></ion-icon>
    </div>
    <p>Tire fotos de seus documentos</p>
  </div>

  <p class="ion-text-center">
    <ion-icon style="color:#202020; width: 20px; height: 20px; margin-top: 10px;" name="arrow-down-outline"></ion-icon>
  </p>


  <div class="content-card">
    <div class="content-icon">
      <ion-icon src="../../../assets/front-camera.svg"></ion-icon>
    </div>
    <p>Tire sua selfie</p>
  </div>

  <p class="ion-text-center">
    <ion-icon style="color:#202020; width: 20px; height: 20px; margin-top: 10px;" name="arrow-down-outline"></ion-icon>
  </p>

  <div class="content-card">
    <div class="content-icon">
      <ion-icon src="../../../assets/enviar.svg" ></ion-icon>
    </div>
    <p>Envie as fotos</p>
  </div>
  </ion-content>
  <ion-footer  class="ion-no-border">
        <a (click)="registerhom1()">
          CADASTRAR DOCUMENTO
        </a>
  </ion-footer>