// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #f1f1f5;
}

ion-header{
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 23px;
  padding-top: 44px;
}

ion-header ion-title{
  text-align: center;
  font-size: 20px;
  font-weight:800;
  text-align: center;
  color:#202020;
  font-family:IBM Plex Sans;
}

ion-header ion-icon{
  color:#202020;
  width: 20px;
  height: 20px;
}


// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.login-content {
  --background:#ffffff;
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);
  display: flex;

  .headerIcon{
    background-color:#fd8c40; height: 180px;
    flex-direction: row; display: flex;
    align-items: center; border-radius: 20px;
    border: solid 4px #fff;
    justify-content: center;
    .headerIconBanner{
      width: 160px; justify-content: center; align-items: center; display: flex;
      img{
      
      }
    }
    .headerIconTitles{
      margin-left: 40px;
      margin-top: -20px;
      h1{
         color:#fff;
         font-size: 27px;
         font-family:IBM Plex Sans;
      }
      a{
        color:#fff;
        font-size: 15px;
        font-family:IBM Plex Sans;
      }
    }
  }

  .content-cardleft{
       height: 230px;
       border-color: #ffffff;
       border-right: solid #ffffff 1px;
  }


  .content-card .content-cardleft ion-icon{
    color:#ffffff;
    width: 120px;
    height: 120px;
  }

  .content-card p{
    font-size: 27px;
    font-weight:700;
    color:#ffffff;
    font-family:IBM Plex Sans;
  }

  .content-card a{
    font-size: 17px;
    font-weight:300;
    color:#fff;
    font-family:IBM Plex Sans;
  }


  .login-btn {
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  .login-btn1 {
    margin: calc(var(--page-margin) / 2) 0px;
    --background: #c4c4c4;
    --border-radius:27px;
    height: 55px;
  }

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .cameraPreview{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
  }

  .image-overlay{
    z-index: 1;
    position: absolute;
    left: 25%;
    top:25%;
    width: 50%;
  }

  #capture{
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    z-index: 11;
  }

  #close{
    position: absolute;
    bottom: 30px;
    left: calc(50% - 175px);
    width: 50px;
    height: 50px;
    z-index: 11;
  }


 

  #flip{
    position: absolute;
    bottom: 30px;
    left: calc(50% + 125px);
    width: 50px;
    height: 50px;
    z-index: 11;
  }

  #flip::part(native){
    border-radius: 30px;
  }

  #close::part(native){
    border-radius: 30px;
  }

  #capture::part(native){
    border-radius: 30px;
  }




}

ion-footer{
  display: flex;
  justify-content: center;
  align-items: center;


  background-color:#ffffff;
  height: 80px;
}


ion-footer a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 73px;

  background-color:#fd8c40;
  height: 50px;
  color:#ffffff;
  font-weight: bold;
  font-size: 13px;
  font-family:IBM Plex Sans;
}

