<ion-header  class="ion-no-border">
  <ion-icon src="../../../assets/left-arrow.svg"></ion-icon>
  <ion-title>Registrar documento</ion-title>
</ion-header>


<ion-content class="login-content">
<!--(ngSubmit)="doLogin()"-->

<div  class="headerIcon">
  <div class="headerIconBanner">
    <img src="../../../assets/selfie.png">
  </div>
  <div class="headerIconTitles">
    <h1>Selfie</h1>
    <a>com o RG</a><br>
    <a>OU CNH</a>
  </div>
</div>



</ion-content>
<ion-footer  class="ion-no-border">
      <a (click)="takePicture()">
        TIRA UMA SELFIE
      </a>
</ion-footer>