
<ion-content class="login-content">
  <!--(ngSubmit)="doLogin()"-->
  
    <form>
      <ion-list class="inputs-list" lines="full">
        <h2 class="auth-title">
         Registro
          <br>
          <a>Agora,obtenha uma foto do seu<br> documento e uma selfie</a>
        </h2>
   
        <div (click)="selfie()" class="button-inner">
          <p class="ion-text-center">vamos lá</p>
          <ion-icon name="camera"></ion-icon>
</div>


      <div (click)="selfie()" class="button-inner">
              <p>pular(dev)</p>
              <ion-icon name="camera"></ion-icon>
    </div>


      </ion-list>
    </form>
  </ion-content>