
<ion-content class="login-content">
  <!--(ngSubmit)="doLogin()"-->
  
    <form>
      <ion-list class="inputs-list" lines="full">
        <h2 class="auth-title">
         Registro
          <br>
          <a>Agora,obtenha uma foto do seu<br> documento e uma selfie</a>
        </h2>


        <a   (click)="selfie()" class="button-inner">
          <p class="ion-text-center">vamos lá</p>
          <span>
            <ion-icon name="camera"></ion-icon>
          </span>
        </a>

        <a   (click)="selfie()" class="button-inner1">
          <p>pular(dev)</p>
        </a>




      </ion-list>
    </form>
  </ion-content>