// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #f1f1f5;
}

.login-content {
  --background:#f1f1f5;
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .auth-title {
    color: var(--ion-color-dark);
    font-weight: bold;
    margin-top: calc(var(--page-margin) / 2);
    margin-bottom: calc(var(--page-margin) * (3/2));
    letter-spacing: 0.6px;
    text-align: center;
    font-size: 29px;
  }

  .text-title{
    font-size: 17px;
   font-weight: 500;
   text-align: center;
   font-family:IBM Plex Sans;
  }

  
  .auth-title a {
   font-size: 17px;
   font-weight: 300;
   text-align: center;
   font-family:IBM Plex Sans;
  }



  .inputs-list {
    --ion-item-background: var(--page-background);
    
    margin-top: calc(var(--page-margin) * 9/1);


    .input-item {
      --padding-start: 20px;
      --padding-end: 20px;
      --inner-padding-end: 0px;
      --background: #ffff;
      --border-radius:8px;
      --min-height:50px;
      margin-bottom: 20px;
    } 

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;
        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
        }
      }
    }
  }

  
       .button-inner{
     
         background:#fd8c40;
         max-height: 50px;

         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 8px;
         margin-bottom: 20px;

         p{
            padding-inline-start: 110px;
            color:#fff;
            font-family:IBM Plex Sans;
            font-weight: 600;
         }

         span{
           margin-left: 80px;
           color:#fff;
         }
  }

  .IsValid {
    width: 100%;
    background-color:#A9A9A9;
    border:none;
    cursor:pointer;
    color:#FFFFFF;
    font-size:25px;
    font-weight:normal;
    padding: 10px;
    margin-top: 10px;
}





.button-inner1 {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items:center;
  width: 100%;
  z-index: 1;
  justify-content:center;

  padding: var(--padding-end);
  color:#000;
  font-size: 1,2rem;
  margin-top: -20px;
  font-family:IBM Plex Sans;

}

  .other-auth-options-row {
    justify-content: space-between;
    align-items: center;

    .forgot-btn {
      --color: var(--ion-color-medium);
      margin: 0px;

      &:focus {
        outline: none;
      }
    }

    .signup-btn {
      --color: var(--ion-color-secondary);
      margin: 0px;

      &:focus {
        outline: none;
      }
    }
  }

  .social-auth-options {
    .options-divider {
      color: var(--ion-color-medium);
  		margin: var(--page-margin) 0px;
  		text-align: center;
    }

    .social-auth-btn {
      margin: 0px;

      &:not(:first-child) {
        margin-top: var(--page-margin);
      }
    }
  }
}

ion-footer{
  background-color: rgba(33,33,33,1);
}

ion-footer a{
  color:#fff;
  font-family:IBM Plex Sans;
}

