
<ion-content class="login-content">
    <form [formGroup]="loginForm" >
      <ion-list class="inputs-list" lines="full">
        <h2 class="auth-title">
          Log In
          <br>
          <a>Informe seu CPF</a>
        </h2>
        <ion-item lines="none" class="input-item">
          <ion-input [(ngModel)]="cpf" placeholder="CPF" formControlName="cpf" clearInput autocapitalize="off"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.cpf">
            <div class="error-message"
              *ngIf="loginForm.get('cpf').hasError(validation.type) && (loginForm.get('cpf').dirty || loginForm.get('cpf').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-button class="login-btn" type="submit" expand="block" (click)="Login()" >
          Continuar
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-list>
      <p class="ion-text-center">
        <a class="text-title">Não tenho uma conta</a>
      </p>
    </form>
  </ion-content>