ion-header{
  background:#fd8c40;
  height: 200px;
  .headerlogo{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
    img{
      width: 90px;
      height: 40px;
    }
  }
  .headervesion{
    justify-content:flex-start;
    align-items:flex-start;
    display: flex;
    padding-inline-start: 10px;
    margin-top: 60px;
  }
}

ion-item{

  ion-icon{
    color:#fd8c40;
  }
  ion-label{
    color: #202020;
    font-weight: 700;
  }
}