<ion-header  class="ion-no-border">
  <ion-icon src="../../../assets/left-arrow.svg"></ion-icon>
  <ion-title>Registrar documento</ion-title>
</ion-header>


<ion-content class="login-content">
<!--(ngSubmit)="doLogin()"-->

<div  class="headerIcon">
  <div class="headerIconBanner">
    <img src="../../../assets/icon.png">
  </div>

  <div class="headerIconTitles">
    <h1>Frente</h1>
    <a>Toque no botão abaixo</a><br>
    <a>para tirar uma foto da</a><br>
    <a>frente do documento</a>
  </div>

</div>

<p class="ion-text-center">
  <ion-icon style="color:#202020; width:20px; height: 20px; margin-top: 10px;" name="arrow-down-outline"></ion-icon>
</p>

<div  class="headerIcon">
  <div class="headerIconBanner">
    <img src="../../../assets/icon2.png">
  </div>

  <div class="headerIconTitles">
    <h1>Verso</h1>
    <a>Toque no botão abaixo</a><br>
    <a>para tirar uma foto do</a><br>
    <a>verso do documento</a>
  </div>

</div>






</ion-content>
<ion-footer  class="ion-no-border">
      <a (click)="registerhome()">
        TIRAR FOTO DA FRENTE DO DOCUMENTO
      </a>
</ion-footer>