<ion-header  class="ion-no-border">
  <ion-icon src="../../../assets/left-arrow.svg"></ion-icon>
  <ion-title>Registrar documento</ion-title>
</ion-header>


<ion-content class="login-content">
<!--(ngSubmit)="doLogin()"-->
<div class="content-card">
    <ion-grid>
      <ion-row>
        <ion-col size="5" class="ion-align-self-center" class="content-cardleft">
          <div style="display: flex; justify-content: center; margin-top: 2.5rem">
            <ion-icon src="../../../assets/front-camera.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col style="margin-left: 10px;" class="ion-align-self-start">
          <p>Frente</p>
          <a>Toque no botão abaixo</a><br>
          <a>para tirar uma foto da</a><br>
          <a>frente do documento</a>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>

<p class="ion-text-center">
  <ion-icon style="color:white; width: 30px; height: 30px; margin-top: 20px;" name="arrow-down-outline"></ion-icon>
</p>

<div class="content-card">
  <ion-grid>
    <ion-row>
      <ion-col size="5" class="content-cardleft">
        <div style="display: flex; justify-content: center; margin-top: 2.5rem">
          <ion-icon src="../../../assets/front-camera.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col style="margin-left: 10px;" class="ion-align-self-start">
        <p>Verso</p>
        <a>Toque no botão abaixo</a><br>
        <a>para tirar uma foto do</a><br>
        <a>verso do documento</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>






</ion-content>
<ion-footer  class="ion-no-border">
      <a (click)="registerhome()">
        TIRAR FOTO DA FRENTE DO DOCUMENTO
      </a>
</ion-footer>