// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #f1f1f5;
}

ion-header{
  background-color: #111427;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 23px;
  padding-top: 44px;
}

ion-header ion-title{
  text-align: center;

  font-size: 30px;
  font-weight:800;
  text-align: center;
  color:#c49cfd
}

ion-header ion-icon{
  color:#c79efe;
  width: 30px;
  height: 30px;
}


// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.login-content {
  --background:#111427;
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);
  display: flex;

  .content-card{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
    border: solid 2px #c49cfd;
    height: 230px;
    border-radius: 8px;
  }

  .content-cardleft{
       height: 230px;
       border-color: #c49cfd;
       border-right: solid #c49cfd 2px;
  }


  .content-card .content-cardleft ion-icon{
    color:#c79efe;
    width: 120px;
    height: 120px;
  }

  .content-card p{
    font-size: 30px;
    font-weight:700;
    color:#c49cfd
  }

  .content-card a{
    font-size: 20px;
    font-weight:300;
    color:#fff
  }


  .login-btn {
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  .login-btn1 {
    margin: calc(var(--page-margin) / 2) 0px;
    --background: #c4c4c4;
    --border-radius:27px;
    height: 55px;
  }


}

ion-footer{
  display: flex;
  justify-content: center;
  align-items: center;


  background-color:#111427;
  height: 80px;
}


ion-footer a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 8px;

  background-color:#c699ff;
  height: 50px;
  color:#130f41;
  font-weight: bold;
  font-size: 20px;
}

