// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #f1f1f5;
}

ion-header{
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 23px;
  padding-top: 44px;
}

ion-header ion-title{
  text-align: center;
  font-size: 27px;
  font-weight:800;
  text-align: center;
  color:#202020
}

ion-header ion-icon{
  color:#202020;
  width: 20px;
  height: 20px;
}


// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.login-content {
  --background:#ffffff;
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);
  display: flex;

  .headerIcon{
    background-color:#fd8c40; height: 200px;
    flex-direction: row; display: flex;
    align-items: center; border-radius: 8px;
    justify-content: center;
    .headerIconBanner{
      width: 120px; justify-content: center; align-items: center; display: flex;
      img{
       width: 150px;
       height: 135px;
      }
    }
    .headerIconTitles{
      margin-left: 40px;
      margin-top: -20px;
      h1{
         color:#fff;
         font-size: 27px;
      }
      a{
        color:#fff;
        font-size: 15px;
      }
    }
  }

  .content-cardleft{
       height: 230px;
       border-color: #ffffff;
       border-right: solid #ffffff 1px;
  }


  .content-card .content-cardleft ion-icon{
    color:#ffffff;
    width: 120px;
    height: 120px;
  }

  .content-card p{
    font-size: 27px;
    font-weight:700;
    color:#ffffff
  }

  .content-card a{
    font-size: 17px;
    font-weight:300;
    color:#fff
  }


  .login-btn {
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  .login-btn1 {
    margin: calc(var(--page-margin) / 2) 0px;
    --background: #c4c4c4;
    --border-radius:27px;
    height: 55px;
  }


}

ion-footer{
  display: flex;
  justify-content: center;
  align-items: center;


  background-color:#ffffff;
  height: 80px;
}


ion-footer a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 8px;

  background-color:#fd8c40;
  height: 50px;
  color:#ffffff;
  font-weight: bold;
  font-size: 15px;
}

