<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menuId="custom"></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <div class="container">
    
    <div  class="containerBody">

      <div class="containerbodyleft">
        <div class="containerbodylefttitle">
          <p>ola</p>
          <h1>{{nome}}</h1>
        </div>
        <ion-icon name="person-outline"  slot="end"></ion-icon>
      </div>

        <div class="containerSeach">
          <ion-item lines="none">
            <ion-icon name="search-outline" slot="start"></ion-icon>
            <ion-input placeholder="faça sua pesquisar"></ion-input>
          </ion-item>
        </div>

        <div class="containerBanner">
          
        </div>

        <p>How we can help you?</p>
        <div class="containerList">

           <div class="containerlistheader">
            <ion-icon name="search-outline" slot="start"></ion-icon>
            <p>Doctor</p>
           </div>
       
           <div class="containerlistheader">
            <ion-icon name="search-outline" slot="start"></ion-icon>
            <p>Hospital</p>
           </div>

           <div class="containerlistheader">
            <ion-icon name="search-outline" slot="start"></ion-icon>
            <p>Medicine</p>
           </div>
        </div>

        <div class="containerList">

          <div class="containerlistheader">
           <ion-icon name="search-outline" slot="start"></ion-icon>
           <p>Doctor</p>
          </div>
      
          <div class="containerlistheader">
           <ion-icon name="search-outline" slot="start"></ion-icon>
           <p>Hospital</p>
          </div>

          <div class="containerlistheader">
           <ion-icon name="search-outline" slot="start"></ion-icon>
           <p>Medicine</p>
          </div>
       </div>
    </div>
</div>

</ion-content>
<ion-footer class="ion-no-border">
  <a (click)="maps()" class="fab-container">
    <ion-icon name="arrow-up-circle"></ion-icon>
    <p>Cargas Dispovível</p>
  </a>
</ion-footer>

