// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #f1f1f5;
}

ion-header{
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 23px;
  padding-top: 44px;
}

ion-header ion-title{
  text-align: center;
  font-size: 20px;
  font-weight:800;
  text-align: center;
  color:#202020;
  font-family:IBM Plex Sans;
}

ion-header ion-icon{
  color:#202020;
  width: 20px;
  height: 20px;
  font-family:IBM Plex Sans;
}


// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.login-content {
  --background:#ffffff;
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);
  display: flex;

  .content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fd8c40;
    height: 400px;
    border-radius: 20px;
    .content-header{
      text-align: center;
      h1{
        color:#ffffff;
        font-size: 1.2rem;
        font-family:IBM Plex Sans;
        font-weight: 300;
      }
      h2{
        color:#ffffff;
        font-size: 1.2rem;
        font-family:IBM Plex Sans;
        font-weight: 300;

      }
      p{
        color:#ffffff;
        font-size: 1.2rem;
        font-family:IBM Plex Sans;
        font-weight: 800;
      }
      strong{
        color:#ffffff;
        font-size: 1.2rem;
        font-family:IBM Plex Sans;
        font-weight: 300;
      }
    }
  }

}

ion-footer{
  display: flex;
  justify-content: center;
  align-items: center;


  background-color:#ffffff;
  height: 70px;
}


ion-footer a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 73px;

  background-color:#fd8c40;
  height: 50px;
  color:#ffffff;
  font-weight: bold;
  font-size: 13px;
  font-family:IBM Plex Sans;

}

