<ion-header  class="ion-no-border">
  <ion-icon src="../../../assets/left-arrow.svg"></ion-icon>
  <ion-title>Enviar Dados</ion-title>
</ion-header>

<ion-content class="login-content">
  <div class="content">
    <div class="content-header">
      <h1>Agora é só esperar!</h1>
      <h2>Estamos analisando seu<br> cadastro</h2>

      <p>ATENÇÃO:<strong>Estamos com alto volume</strong></p><br>
      <strong>e sua conta pode demorar acima</strong><br>
      <strong>24h para ser aberta. Nosso time está</strong><br>
      <strong>trabalhando.</strong>
      <br>
    </div>
  </div>

</ion-content>
<ion-footer  class="ion-no-border">
  <a (click)="registerhom1()">
    CONTINUAR
  </a>
</ion-footer>
