ion-slides {
  height: 100%;
}

ion-slide{
  display: flex;
  flex-direction: column;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  .sliderimage{
    display: flex;
    align-items: center;
    align-items: center;
  }
  .sliderTexts{
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    h1{
      font-size: 18px;
      color:#212121;
      font-family:IBM Plex Sans;
      font-weight: 600;
    }
    a{
      font-size: 15px;
      color:#212121;
      font-family:IBM Plex Sans;
      font-weight: 400;
    }
  }
  .btn{
    display: flex;
   align-items: flex-start;
   justify-self: flex-start;
    margin-top: 20px;

    text-align: right;
  }
}