<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div class="sliderimage">
          <img src="../../../assets/icon6.png">
      </div>
      <br>
      <div class="sliderTexts">
        <h1>Cadastre-se como motorista</h1><br>
        <a>Envie sua habilitação e seus dados para se<br>cadastrar</a>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="sliderimage">
        <img src="../../../assets/icon9.png">
    </div>
    <br>
    <div class="sliderTexts">
      <h1>Obtenha cargas em uma de nossas filiais</h1><br>
      <a>Estamos presente em quase todo o estado de São<br>Paulo</a>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="sliderimage">
        <img src="../../../assets/icon7.png">
    </div>
    <br>
    <div class="sliderTexts">
      <h1>Recebimento garantido pelo serviços<br>prestados</h1><br>
      <a>Você receberá diretamente na sua conta.</a>
    </div>
    <div class="btn">
      <a (click)="btn()" >OK</a>
    </div>
    </ion-slide>
  </ion-slides>
</ion-content>