ion-slides {
  height: 100%;
}

ion-slide{
  display: flex;
  flex-direction: column;
  .sliderimage{
    display: flex;
    align-items: center;
    align-items: center;
    img{
      
    }
  }
  #map{
    height: 35%;
  }
  .sliderTexts{
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    h1{
      font-size: 19px;
      color:#212121;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
    }
    a{
      font-size: 16px;
      color:#212121;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 300;
    }
  }
  .btn{
    display: flex;
   align-items: flex-start;
   justify-self: flex-start;
    margin-top: 20px;

    text-align: right;
  }
}