
<ion-content class="login-content">
  <!--(ngSubmit)="doLogin()"-->
  
    <form [formGroup]="loginForm" >
      <ion-list class="inputs-list" lines="full">
        <h2 class="auth-title">
         Registro
          <br>
          <a>Informe seu número de telefone</a>
        </h2>
        <ion-item lines="none" class="input-item">
          <ion-input [(ngModel)]="celular" placeholder="Telefone" formControlName="celular" clearInput autocapitalize="off"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.celular">
            <div class="error-message"
              *ngIf="loginForm.get('celular').hasError(validation.type) && (loginForm.get('celular').dirty || loginForm.get('celular').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      
        <ion-button class="login-btn" type="submit" expand="block" (click)="soliciarCodigo()" >
          Enviar código
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-list>
    </form>
  </ion-content>